In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

<h1>Importing Dataset</h1>

In [2]:
dataset = pd.read_csv("../../../datasets/grocery_dataset/groc_inventory.csv")
dataset

,Product_ID,Product_Name,Category,Unit_Price,Stock_Quantity,Unit_Sold,Expiration_Date,Manufacturing_Date,Status
0,1,Orange Juice,Beverages,66.56,366,134,2025-10-05,2025-03-24,Active
1,2,Refined Sugar,Seafood,302.18,413,148,2025-10-03,2025-08-13,Active
2,3,Green Peas,Dairy,696.85,204,220,2025-12-31,2025-05-22,Backorder
3,4,Eggs,Fruits & Vegetables,372.48,359,194,2025-04-04,2024-12-15,Backorder
4,5,Bananas,Fruits & Vegetables,308.17,72,123,2026-04-09,2025-04-26,Discontinued
...,...,...,...,...,...,...,...,...,...
995,996,Olive Oil,Dairy,598.71,422,215,2025-04-17,2024-11-04,Discontinued
996,997,Bananas,Fruits & Vegetables,150.35,450,228,2025-10-23,2025-03-30,Active
997,998,Fresh Apples,Bakery,450.97,242,146,2026-05-24,2025-06-09,Discontinued
998,999,Cow Milk,Beverages,317.98,318,171,2026-07-30,2025-08-08,Active
999,1000,Cheese,Oils & Fats,205.91,210,217,2025-12-18,2025-03-19,Discontinued

In [3]:
dataset.drop(columns=['Product_ID'])

,Product_Name,Category,Unit_Price,Stock_Quantity,Unit_Sold,Expiration_Date,Manufacturing_Date,Status
0,Orange Juice,Beverages,66.56,366,134,2025-10-05,2025-03-24,Active
1,Refined Sugar,Seafood,302.18,413,148,2025-10-03,2025-08-13,Active
2,Green Peas,Dairy,696.85,204,220,2025-12-31,2025-05-22,Backorder
3,Eggs,Fruits & Vegetables,372.48,359,194,2025-04-04,2024-12-15,Backorder
4,Bananas,Fruits & Vegetables,308.17,72,123,2026-04-09,2025-04-26,Discontinued
...,...,...,...,...,...,...,...,...
995,Olive Oil,Dairy,598.71,422,215,2025-04-17,2024-11-04,Discontinued
996,Bananas,Fruits & Vegetables,150.35,450,228,2025-10-23,2025-03-30,Active
997,Fresh Apples,Bakery,450.97,242,146,2026-05-24,2025-06-09,Discontinued
998,Cow Milk,Beverages,317.98,318,171,2026-07-30,2025-08-08,Active
999,Cheese,Oils & Fats,205.91,210,217,2025-12-18,2025-03-19,Discontinued

In [4]:
dataset['Manufacturing_Date'] = pd.to_datetime(dataset['Manufacturing_Date'])
dataset['Expiration_Date'] = pd.to_datetime(dataset['Expiration_Date'])
dataset['Days_Between'] = (dataset['Expiration_Date'] - dataset['Manufacturing_Date']).dt.days
dataset = dataset.drop(["Expiration_Date", "Manufacturing_Date"], axis=1)

<h1>Encoding the Data</h1>

In [5]:
from sklearn.preprocessing import LabelEncoder

product_name = dataset['Product_Name']
category = dataset['Category']
status = dataset['Status']

le = LabelEncoder()

product_label_encoder = le.fit_transform(product_name)
category_label_encoder = le.fit_transform(category)
status_label_encoder = le.fit_transform(status)

dataset['Product_Name'] = product_label_encoder
dataset['Category'] = category_label_encoder
dataset['Status'] = status_label_encoder

<h1>Splitting the data into X and y variable</h1>

In [6]:
features = ['Product_Name', 'Category', 'Days_Between', 'Unit_Price', 'Stock_Quantity', 'Unit_Sold', 'Status']
target = 'Unit_Sold'

X = dataset[features]
y= dataset[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

<h1>Applying Linear Regression</h1>

In [7]:
dataset.dtypes

Product_ID          int64
Product_Name        int64
Category            int64
Unit_Price        float64
Stock_Quantity      int64
Unit_Sold           int64
Status              int64
Days_Between        int64
dtype: object

In [11]:
from sklearn.metrics import r2_score, accuracy_score

linear_regression = LinearRegression()
linear_regression.fit(X_train, y_train)

y_pred = linear_regression.predict(X_test)

R2_Score = r2_score(y_test, y_pred)
print("R2 SCORE: ", R2_Score)

R2 SCORE:  1.0